<app-home></app-home>

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
          
            <div class="row">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="container-fluid">

                         
                          <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                              <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#"><h4>News@tip</h4></a>
                              </li>
                              
                              <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Select category
                                </a>
                                <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" href="https://sportstar.thehindu.com/" target="_blank">Sports</a></li>
                                  <li><a class="dropdown-item" href="https://victers.kite.kerala.gov.in/" target="_blank">Education</a></li>
                                  <li><a class="dropdown-item" href="https://buzzfeed.bio/buzzfeed" target="_blank">Entertainment</a></li>
                                </ul>
                              
                              </li>
                              <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Channels
                                </a>
                                <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" href="http://localhost:4200/malayalam" target="_blank">Malayalam</a></li>
                                  <li><a class="dropdown-item" href="http://localhost:4200/hindi" target="_blank">Hindi</a></li>
                                  <li><a class="dropdown-item" href="http://localhost:4200/english" target="_blank">English</a></li>
                                </ul>
                                
                              </li>
                              
                              <li class="nav-item">
                                <a class="nav-link" href="http://localhost:4200/viewuser">View Users' news</a>
                              </li>
                            </ul>
                          </div>
                    </div>
                      </nav>
                  <br>
                      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active" data-bs-interval="6000">
                            <img height="300px" src="https://ichef.bbci.co.uk/news/976/cpsprodpb/12A2B/production/_126413367_dfc5a79854bade54f77d366e139e849bae44b9880_272_7175_40361000x563.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h2 style="color:turquoise">Ukraine ridicules Russian murder accusations</h2>
                              <p>Darya Dugina, a Russian nationalist commentator, was the daughter of an ally to President Putin.</p>
                            </div>
                          </div>
                          <div class="carousel-item" data-bs-interval="6000">
                            <img height="300px" src="https://ichef.bbci.co.uk/news/976/cpsprodpb/A105/production/_126412214_bd1aa23cf9d0e2b89bc9ab932f63672c70ada0db.jpg.webp" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h2 style="color:turquoise">Malaysia ex-PM sent to jail to serve 12-year term</h2>
                              <p>Najib Razak denies charges of appropriating millions of dollars from a state-owned wealth fund.</p>
                            </div>
                          </div>
                          <div class="carousel-item" data-bs-interval="6000">
                            <img height="300px" src="https://cdn.mos.cms.futurecdn.net/ajp2pYRZFAZ7mAbT7L3YoE-1200-80.jpg.webp" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h2 style="color:maroon">Artemis: Nasa Moon mission gets go-ahead to launch</h2>
                              <p style="color:rgb(0, 255, 234)">The US space agency's big new rocket and capsule system can proceed with Monday's planned lift-off.</p>
                            </div>
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                    </div>
                  </div> 
                
            
        </div>
    </div>
</div>

