<app-home></app-home>

<div class="container">
    <h2 align="center" style="color: aliceblue;"> <b> User can post news here</b></h2>
    <br />
    <div class="row">
        <form #enternews="ngForm" (ngSubmit)="Enternews()">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label style="color:azure" for="validationCustom01" class="form-label">IMAGE OR VIDEO FILE URL</label>
                   <input id="validationCustom01" type="text"  class="form-control"[(ngModel)]="data.img" name="img"  required><br />
                   <div class="valid-feedback"></div>
                   <div class="invalid-feeback" style="color:red">
                    Please enter a URL
                   </div>
                   <a href="https://postimages.org/" target="_blank" style="color: aquamarine">Click here to create url(choose DIRECT LINK from the options)</a>
               </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                     <label style="color:azure" for="validationCustom02" class="form-label">NAME</label>
                    <input id="validationCustom02" placeholder="Akansha" type="text" class="form-control"[(ngModel)]="data.name" name="name" pattern="[a-zA-Z ]*" required>
                    <div class="invalid-feeback" style="color: red">
                        Please enter your name
                    </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label  style="color:azure"  for="validationCustom03" class="form-label">PHONE</label>
                    <input id="validationCustom03"  type="text" minlength="10" maxlength="10" class="form-control" [(ngModel)]="data.mobile" name="mobile" pattern="[0-9]*" required>
                    <div class="invalid-feeback" style="color: red">
                        Please enter phone Number
                    </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label style="color:azure" for="mail" class="form-label">EMAIL</label>
                    <input id="mail" type="email" placeholder="xyz@gmail.com" required pattern=".+@gmail.com" class="form-control"[(ngModel)]="data.email" name="email" >
                    <div class="invalid-feeback" style="color: red">
                        Please enter valid email id
                    </div>
                </div>  
  
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                  <label style="color:azure" for="validationCustom04" class="form-label">DATE</label>
                  <input id="validationCustom04" type="date" class="form-control" [(ngModel)]="data.date" name="date" required>
                  <div class="invalid-feeback" style="color: red">
                    Please enter date
                </div>
              </div> 
  
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                  <label style="color:azure" for="validationCustom05" class="form-label">TITLE</label>
                  <input id="validationCustom05"  type="text" class="form-control" [(ngModel)]="data.title" name="title" required>
                  <div class="invalid-feeback" style="color: red">
                    Please enter title
                </div>
              </div> 
  
              
  
  
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label style="color:azure" for="validationCustom06" class="form-label">DESCRIPTION</label>
                    <textarea id="validationCustom06"  cols="30" rows="10" class="form-control" [(ngModel)]="data.description" name="description" required=""></textarea>
                    <div class="invalid-feeback" style="color: red">
                        Please enter description
                    </div>
                </div>  
  
               
                    <div class="group" *ngIf="enternews.valid" >
                        <button class="btn btn-success" value="SEND">SEND</button> &nbsp;
                     </div>
                     <div class="group" *ngIf="!enternews.valid" >
                        <a href="https://localhost:4200/userentry" class="card-button btn btn-danger" value="RESET" target="_self">RESET</a>
                     </div>
                
            </div>
        
        </div></form>
          
    </div>
  </div>

 