<app-adminpage></app-adminpage>

<div class="container">
    <h2 style="color:azure">User View of News Update</h2>
    <br />
    <div class="row ">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
            <div *ngFor="let i of adata" class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">
                <div class="card" >
                    
                    <img height="300px" src="{{i.img}}"  alt="...">
                    <div class="card-body ">
                        <h5 class="card-title">{{i.name}}</h5>
                        <h5 class="card-title">{{i.mobile}}</h5>
                        <h5 class="card-title">{{i.email}}</h5>
                        <h5 class="card-title">{{i.title}}</h5>
                      <h5 class="card-title">{{i.date}}</h5>
                      <p class="card-text">{{i.description}}</p>
                      
                  </div>
            </div>
           
            
        </div></div>
    </div>
</div>



