<app-home></app-home>

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div align="center" class="row">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <h1 style="color:rgb(255, 255, 255)">ABOUT US</h1><hr style="color:rgb(255, 255, 255)"> <br>
                    <p style="color:rgb(255, 255, 255)">News@tip is a website that aims to provide reliable news to millions from all over the country. The primary vision behind the undertaking of this project was to provide a reliable, respected and trusted source of news and information to viewers originating nationally or internationally. We update the news portal regularly and swiftly keeping the users updated with the latest news covering a wide range of topics such as politics, sports, entertainment, health, books, business among others. </p>
                    <p style="color:rgb(255, 255, 255)">News@tip employs a wide variety of features to provide the desired news information to anyone who wishes to access them at their fingertips, thus justifying the name of our website, “News@tip”.</p>
                    <p style="color:rgb(255, 255, 255)">News@tip not only provides efficient and fast flow of information but also encourages creators of diverse backgrounds to share their own stories with the world and make viewers aware of events that might otherwise go unseen. We also encourage viewers to take part in polls and also engage in posting comments expressing their views, thereby opening a portal to healthy and productive conversation about the topic at hand. We also remain clung to the tree of journalistic ethics by serving current news on the platter of absolute authenticity and our comments stand only as a guard so that all the users of our portal do not get carried away from the truth.</p>
                </div>
            </div>
        </div>
    </div>
</div>
