<app-home></app-home>

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <div class="row">
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <h1 align="center" style="color:rgb(255, 255, 255)">GUIDELINES AND POLICIES</h1> <br>
                        <p align="center"style="color:rgb(255, 255, 255)">Our guidelines and policies are designed to protect creators, viewers and advertisers alike, and create a safe environment for them to create and view content that is devoid of hate, violence, and bullying. Our carefully designed policies lay out what is and is not allowed on News@tip, and apply to all content across the platform.</p> 
                        <hr style="color:rgb(255, 255, 255)">
                        <h3 style="color:rgb(255, 255, 255)">Spam & deceptive practices</h3>
                        <p style="color:rgb(255, 255, 255)">Since News@tip is a platform that is built on trust, content that intends to scam, mislead or defraud other users is not allowed on the platform. We advise against posting content with the following content:</p>
                        <ul type="disc" style="color:rgb(255, 255, 255)">
                            <li>Spam, deceptive practices, & scams </li>
                            <li>Impersonation</li>
                            <li>External links </li>
                            <li>Fake engagement </li>
                        </ul>
                        <br>
                        <h3 style="color:rgb(255, 255, 255)">Sensitive content</h3>
                        <p style="color:rgb(255, 255, 255)">News@tip hopes to protect viewers, creators, and especially minors who visit our platform. That's why we've got rules around keeping children safe, sex & nudity, and self harm. </p>
                        <br>
                        <h3 style="color:rgb(255, 255, 255)">Violent or dangerous content</h3>
                        <p style="color:rgb(255, 255, 255)">Hate speech, predatory behavior, graphic violence, malicious attacks, and content that promotes harmful or dangerous behavior isn't allowed on News@tip. The following types of content is strictly banned on the platform:</p>
                        <ul type="disc" style="color:rgb(255, 255, 255)">
                            <li>Harmful or dangerous content  </li>
                            <li>Violent or graphic content </li>
                            <li>Supporting/encouraging violent criminal organizations  </li>
                            <li>Hate speech  </li>
                            <li>Harassment & cyberbullying </li>
                        </ul>
                        <br>
                        <h3 style="color:rgb(255, 255, 255)">Regulated goods</h3>
                        <ul type="disc" style="color:rgb(255, 255, 255)">
                            <li>Sale of illegal or regulated goods or services   </li>
                            <li>Firearms </li>
                        </ul>
                       <br>
                        <h3 style="color:rgb(255, 255, 255)">Misinformation</h3>
                        <p style="color:rgb(255, 255, 255)">Certain types of misleading or deceitful content with serious risk of egregious harm are not allowed on News@tip. This includes certain types of misinformation that can cause real-world harm, like promoting harmful remedies or treatments, certain types of technically manipulated content, or content interfering with democratic processes.</p>
                        <ul type="disc" style="color:rgb(255, 255, 255)">
                            <li>Elections misinformation </li>
                            <li>Misinformation  </li>
                            <li>COVID-19 medical misinformation </li>
                            <li>Vaccine misinformation </li>
                        </ul>
                    </div>
                </div>
            
        </div>
    </div>
</div>
