<app-home></app-home>

<div class="container">
    <h1 style="color:azure" align="center"><U>CONNECT WITH US</U></h1>
    <p style="color:azure">We would love to respond to your message  and help you.Feel free to get to connect with us.</p>
    
    <h4 style="color:azure">ADDRESS:</h4>
  <p style="color:azure">news@tip,Kowdiar,Trivandrum.p.o</p>
  
  <h4 style="color:azure">Mobile Number:</h4>
   <p style="color:azure">6282896872</p>
  
   <h4 style="color:azure">Email:</h4>
   <p style="color:azure">news@tip123@gmail.com</p>
