<app-home></app-home>

<h2 style="color: azure">List of Channels</h2>
<br />

<div class="container">
    <div class="row col col-12 col-sm-12 col-md-12 col-lg-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <div class="row  col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4 ">
            
            <iframe width="560" height="315" src="https://www.youtube.com/embed/djP1cYWQCW4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <label  style="color:azure" for="" class="label">Republic News</label>
            <a href="https://www.republicworld.com/" target="_blank" >For more from Republic News,click here</a>



        </div>&nbsp;&nbsp;
        <div class="row col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            
            <iframe width="560" height="315" src="https://www.youtube.com/embed/H8U3UwRvTBs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <label  style="color:azure" for="" class="label">CNN News</label>
            <a href="https://edition.cnn.com/" target="_blank" >For more from CNN News,click here</a>



        </div>&nbsp;&nbsp;
        <div class="row col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            
            <iframe width="560" height="315" src="https://www.youtube.com/embed/9Auq9mYxFEE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <label  style="color:azure" for="" class="label">Sky News</label>
            <a href="https://news.sky.com/" target="_blank" >For more from Sky News,click here</a>



        </div>



    </div>
</div>

