<app-home></app-home>



<h2 style="color: azure">List of Channels</h2>
<br />

<div class="container">
    <div class="row col col-12 col-sm-12 col-md-12 col-lg-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <div class="row  col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4 ">
            
            <iframe width="360" height="315" src="https://www.youtube.com/embed/PNR06O9sSio" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <label  style="color:azure" for="" class="label">Asianet News</label>
            <a href="https://www.asianetnews.com/" target="_blank" >For more from Asianet News,click here</a>



        </div>&nbsp;&nbsp;
        <div class="row col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            
            <iframe width="360" height="315" src="https://www.youtube.com/embed/JtLBF_Gjeiw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <label  style="color:azure" for="" class="label">Manorama News</label>
            <a href="https://www.manoramanews.com/" target="_blank" >For more from Manorama News,click here</a>



        </div>&nbsp;&nbsp;
        <div class="row col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
            
            <iframe width="560" height="315" src="https://www.youtube.com/embed/YGEgelAiUf0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <label  style="color:azure" for="" class="label">Mathrubhumi News</label>
            <a href="https://www.mathrubhumi.com/" target="_blank" >For more from Mathrubhumi News,click here</a>



        </div>



    </div>
</div>
