
<ul  class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">News@tip</a>
    </li>
    <li class="nav-item">
      <a style="color:aliceblue" class="nav-link" href="http://localhost:4200/aboutus">About us</a>
    </li>
    <li class="nav-item">
      <a  style="color:aliceblue" class="nav-link" href="http://localhost:4200/guideline">Guideline</a>
    </li>
    <li class="nav-item">
        <a  style="color:aliceblue" class="nav-link" href="http://localhost:4200/unlog">News Channels</a>
      </li>
      
    
    <li class="nav-item">
        <a  style="color:aliceblue" class="nav-link" href="http://localhost:4200/feedback">Feedback</a>
      </li>

      <li class="nav-item">
        <a  style="color:aliceblue" class="nav-link" href="http://localhost:4200/contactus">Contact us</a>
      </li>

      <li class="nav-item">
        <a   style="color:aliceblue" class="nav-link" href="http://localhost:4200/login">Login</a>
      </li>
      <li class="nav-item">
        <a  style="color:aliceblue" class="nav-link" href="http://localhost:4200/adminlogin">Admin login</a>
      </li>
  </ul>


        




